body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

header {
    background: #0f172a;
    color: white;
    padding: 20px;
}

input {
    padding: 10px;
    width: 60%;
    margin: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
